<section class="main__header">
  <ul class="main__header--nav">
    <a data-toggle="tab" aria-expanded="false" href="/admin/books/library">
      <li onclick="viewUser(event,'library')" class="main__header--nav-tablink">المكتبة</li>
    </a>
    <a data-toggle="tab" aria-expanded="false" href="/admin/books/store">
      <li onclick="viewUser(event,'store')" class="main__header--nav-tablink">المخزن</li>
    </a>
    <a data-toggle="tab" aria-expanded="false" href="/admin/books/borrowed">
      <li onclick="viewUser(event,'borrow')" class="main__header--nav-tablink">الكتب المستعارة</li>
    </a>
    <a data-toggle="tab" aria-expanded="false" href="/admin/books/add">
      <li onclick="viewUser(event,'add')" class="main__header--nav-tablink">إضافة كتاب</li>
    </a>
  </ul>
</section>

<h1 class="viewBook">تعديل الكتاب</h1>
<section class="main__content">
  <div class="main__content__editBook">
    {{#each results}}
    <div class="main__content__viewBook--img">
      <img src="{{img}}">
      <a href="/admin/books/library/book/edit/{{storeId}}">
        <button id="editbtn" class="editbtn">تعديل الكتاب</button>
      </a>
    </div>
    <form id="{{bookId}}" class="form">
      <div class="main__content__editBook--information">

        <label for="nameBook"> اسم الكتاب</label>
        <input type="text" id="nameBook" name="nameBook" placeholder="اسم الكتاب" value="{{nameBook}}" required>
        <span id="nameBookError" class="errorValid"></span>

        <label for="nameAuthor">اسم الكاتب</label>
        <input type="text" id="nameAuthor" name="nameAuthor" placeholder="اسم الكاتب" value="{{nameAuthor}}" required>
        <span id="nameAuthorError" class="errorValid"></span>

        <label for="description">الوصف</label>
        <input type="text" id="description" name="description" placeholder="الوصف" value="{{description}}" required>
        <span id="descriptionError" class="errorValid"></span>

        <label for="img">الصورة</label>
        <input type="text" id="img" name="img" placeholder="الصورة" value="{{img}}" required>
        <span id="imgError" class="errorValid"></span>

        <label for="copyNumber">عدد النسخ</label>
        <input type="number" id="copyNumber" name="copyNumber" placeholder="عدد النسخ" value="{{copyNumber}}" required>
        <span id="copyNumberError" class="errorValid"></span>

      </div>
    </form>
    {{/each}}
  </div>
</section>